// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#campaigns {
  h2 {
    margin-top: 10px;
  }

  .thumbnail {
    img {
      min-height: 250px;
      max-height: 250px;
      width: 100%;
    }
  }
}

#campaign {
  #filters_form {
    margin-top: 5px;
    .filter {
      margin-bottom: 20px;

      .value {
        margin-top: 5px;
      }
    }
  }

  #images {
    .img-square {
      width: 150px;
      height: 150px;
      margin: 5px 0px;
    }

    .popover {
      max-height: 512px;
      max-width: 512px;

      img {
        max-height: 400px;
        max-width: 400px;
      }
    }
  }
}

